<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contato</title>

  <!-- Bootstrap core CSS -->
  <link rel="icon" type="image/x-icon" href="assets/img/fiveicon.png">
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css">
  <link href="/node_modules_bot/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/dist/css/animate.min.css">
  <link rel="stylesheet" href="assets/dist/css/aos.min.css">
  <link rel="stylesheet" href="assets/dist/css/style.css">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    @media (max-width: 768px) {
      .categorias img {
        width: 30px;
        height: 30px;
      }
    }

    .parallax {
      /* The image used */
      background-image: url("assets/img/parallax-contato.png");
      /* Set a specific height */
      min-height: 500px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #titulo {
      background-color: red;
      /* For browsers that do not support gradients */
      background-image: linear-gradient(to right, rgb(255, 253, 253), rgb(227, 231, 234));
    }

    #formulario {
      background-color: red;
      /* For browsers that do not support gradients */
      background-image: linear-gradient(to right, rgb(227, 231, 234), rgb(255, 253, 253));
    }

    .pontos {
      opacity: 0.1;
    }
    .hidden{
      display:none;
    }
  </style>
</head>

<body>

  <header class="navbar navbar-dark sticky-top bg-heade flex-md-nowrap p-0 shadow fixar">
    <a class="navbar-brand col-md-3 col-lg-2 p-1" href="/"><img src="assets/img/logo-white.png" width="170px"
        height="50px" alt=""></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark rounded-2 w-100" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item d-flex align-items-center">
        <div class=" rounded-3 mx-2 p-1">
          <a href="#" data-bs-toggle="modal" data-bs-target="#empresasModal">
            <img class="" src="assets/svg/hand-holding-usd-white.png" width="40" height="40" alt="Doação">
          </a>
        </div>
        <% if (typeof user === 'undefined') { %>
          <button type="button"
            class="btn btn-outline-secondary mx-1 text-uppercase d-flex align-items-center justify-content-center"
            style="width: 60px;
                                                                                                                                            height: 40px;">
            <a href="login" class="nav-link" style="font-size: small;"> Login</a></button>
          <button type="button"
            class="btn btn-secondary mx-1 text-uppercase d-flex align-items-center justify-content-center"
            style="width: 90px;
                                                                                                                                      height: 40px;">
            <a href="cadastro" class="nav-link" style="font-size: small;"> Cadastrar</a></button>
            <% } else { %>
        </div>
        <% } %>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse text-uppercase">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">
                <span data-feather="home"></span>
                Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sobre">
                <span data-feather="file"></span>
                Sobre
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="produtos">
                <span data-feather="shopping-bag"></span>
                Produtos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="contato">
                <span data-feather="users"></span>
                Contato
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span class="text-primary">Conta</span>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="myAcount">
                <span data-feather="user"></span>
                Perfil
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="myCard">
                <span data-feather="credit-card"></span>
                Meus Cartões
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="endereco">
                <span data-feather="map-pin"></span>
                Endereço
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="minhas-compras">
                <span data-feather="briefcase"></span>
                Minhas Compras
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="carrinho">
                <span data-feather="shopping-cart"></span>
                <span class=" position-relative">CARRINHO
                  <span id="badge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <span class="visually-hidden"></span>
                  </span>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="dropdown mt-5">
          <a href="#"
            class="d-block bg-light camada border-1 rounded-5 user p-1 link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img id="profile-pic-preview" src="assets/svg/ghost.svg" alt="mdo" width="32" height="32"
              class="rounded-circle"><span id="username-display">Usuario</span>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="logout">Sair</a></li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 col-xl-10 p-0 m-0">
        <!--space modals-->
        <!--modal doar-->
        <div class="portfolio-modal modal fade" id="empresasModal" tabindex="-1" aria-labelledby="empresasModal"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content portfolioback">
              <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                  aria-label="Close"></button></div>
              <div class="modal-body pb-5">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                      <!-- Curses Modal - Title-->
                      <h2 class="portfolio-modal-title text-dark text-uppercase text-center">Doação</h2>
                      <p class="portfolio-modal-title text-dark text-center mt-3">Segue o QR Code para ajudar na
                        manutenção e
                        suporte da plataforma</p>
                      <div class="text-center">
                        <img src="assets/img/pix.png" width="100" height="100" alt="">
                        <img src="assets/img/qr.png" width="150" height="150"
                          alt="QR Code para doar para a plataforma iPlant's">
                      </div>
                      <p class="mt-3"><b>Chave PIX</b></p>
                      <div class="rounded-5 bg-success p-3 row d-flex align-items-center justify-content-between">
                        <div class="col-9">
                          <span class="text-white" id="dado">62f5c5e6-e95a-4cfa-92f4-2e7b027fbaf1</span>
                        </div>
                        <div class="col-2">
                          <a href="#"> <img class="mx-3" src="assets/svg/copy.png" width="20" height="30" alt="copiar"
                              onclick="copyToClickBoard()"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--modal do mapa do site-->
        <div class="modal fade" id="mapaSite" tabindex="-1" aria-labelledby="mapaSite" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content portfolioback">
              <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                  aria-label="Close"></button></div>
              <div class="modal-body pb-5">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <!-- Curses Modal - Title-->
                      <h2 class="portfolio-modal-title text-dark text-uppercase text-center">Mapa do Site</h2>
                      <hr>
                      <ul>
                        <li><a href="cadastro">Cadastro</a></li>
                        <li><a href="login">Login</a></li>
                        <li><a href="/">Home</a>
                          <ul>
                            <li><a href="myAcount">Usuário</a>
                              <ul><a href="myAcount">Minha Conta</a></ul>
                            </li>
                          </ul>
                        </li>
                        <li><a href="sobre">Sobre</a>
                          <ul>
                            <li><a href="sobre">Sobre a Empresa</a></li>
                            <li><a href="sobre">Sobre os Desenvolvedores</a></li>
                          </ul>
                        </li>
                        <li><a href="produtos">Produtos</a>
                          <ul>
                            <li><a href="produtos">Todos os Produtos</a></li>
                          </ul>
                        </li>
                        <li><a href="contato">Contato</a>
                          <ul>
                            <li><a href="contato">Formulário de Contato</li></a>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--modal termos de privacidade-->
        <div class="modal fade" id="privacidade" tabindex="-1" role="dialog" aria-labelledby="privacidadeTitle"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title justify-content-center" id="privacidadeTitle">Aviso de Uso de Dados e Privacidade
                </h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Aviso de Uso de Dados e Privacidade</p>
                <p>Ao utilizar nossos serviços, você concorda com a coleta e uso de suas informações de acordo com este
                  aviso
                  de privacidade. Os dados que você insere em nosso site serão armazenados em um banco de dados privado
                  e
                  serão utilizados exclusivamente para fins de melhorar a qualidade de nossos serviços e oferecer a você
                  uma
                  experiência mais personalizada.</p>
                <p>Os dados coletados podem incluir, mas não se limitam a, informações de contato, endereço de e-mail,
                  informações demográficas e comportamentais. Essas informações podem ser compartilhadas com nossos
                  parceiros
                  de negócios para fins de marketing, mas somente com o seu consentimento expresso.</p>
                <p>Comprometemo-nos a manter seus dados seguros e protegidos contra acessos não autorizados, alterações,
                  divulgações ou destruição. Nós nunca venderemos ou alugaremos suas informações a terceiros sem o seu
                  consentimento prévio.</p>
                <p>Ao utilizar nossos serviços, você concorda em nos fornecer informações precisas e atualizadas. Se
                  houver
                  qualquer alteração em suas informações pessoais, por favor, nos informe imediatamente para que
                  possamos
                  atualizar nossos registros.</p>
                <p>Ao continuar a usar nossos serviços, você reconhece que leu e entendeu este aviso de privacidade e
                  concorda
                  com a coleta, armazenamento e uso de suas informações pessoais como descrito acima.</p>
                <p>Se tiver alguma dúvida ou preocupação sobre a privacidade de seus dados, entre em contato conosco
                  através
                  do nosso site.</p>
              </div>
              <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success btn-lg" data-bs-dismiss="modal"
                  aria-label="Close">Entendi</button>
              </div>
            </div>
          </div>
        </div>
        <!--end space modals-->

        <!--contato-->
        <div class="container-fluid p-0 m-0">
          <section class="parallax w-100 arrumar">
            <div class="container-fluid">
              <div class="row justify-content-sm-center justify-content-md-center justify-content-lg-center">
                <div class="container-fluid w-100 img-fluid p-0 m-0">
                  <div class="col-sm-12 col-md-12 col-lg-12 img-fluid lead ">
                    <div class="col-md-6 col-lg-6 col-sm-6 align-self-center" id="titulo">
                      <h1 class="px-5 align-self-center display-4">Contato</h1>
                      <p class="px-5">Descubra soluções inovadoras, produtos de qualidade e serviços excepcionais em
                        nossa plataforma E-commerce. Entre em contato agora mesmo e aproveite os benefícios. Esperamos
                        por você!</p>
                      <p class="pontos">.</p>
                      <p class="px-5" data-aos="fade-right" data-aos-duration="650" data-aos-delay="350"><button
                          class="btn btn-success"><a href="#contatos" class="nav-link text-white p-2 lead">Entrar em
                            contato</a></button> </p>
                      <p class="pontos">.</p>
                      <p class="pontos">.</p>
                      <p class="pontos">.</p>
                      <p class="pontos m-0 p-0">.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="container-fluid ">
            <div class="row mb-5">
              <div class="col-sm-12 col-md-12 col-lg-12 mt-5">
                <iframe style="border:0; width: 100%; height: 340px;"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.091888589676!2d-45.42848392548452!3d-23.63688006436942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cd631551d2d585%3A0xbe6efd4b81fb3cd0!2sIFSP!5e0!3m2!1spt-BR!2sbr!4v1684103878522!5m2!1spt-BR!2sbr"
                  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
          <div class="container mt-5 mb-5">
            <div class="text-center ">
              <h2 class="section-heading text-uppercase mt-5">Entre em Contato</h2>
              <h3 class="section-subheading lead" id="contatos">Sugestão, Elogios e Perguntas.
              </h3>
            </div>
            <div class="row text-center mt-5">
              <div class="col-md-4" data-aos="fade-up" data-aos-duration="750" data-aos-delay="250">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x servico"></i>
                  <i class="fas fa-phone fa-stack-1x fa-inverse fa-flip-horizontal"></i>
                </span>
                <h4 class="my-3">+55 (12) 38882013</h4>
                <p class="text-muted">Atendimento de Segunda a sábado das 08:00 as 18:00</p>
              </div>
              <div class="col-md-4" data-aos="fade-up" data-aos-duration="750" data-aos-delay="350">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x servico"></i>
                  <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>

                </span>
                <h4 class="my-3">iplantscontato@gmail.com</h4>
                <p class="text-muted">Nossa equipe te ajudará a qualquer momento</p>
              </div>
              <div class="col-md-4" data-aos="fade-up" data-aos-duration="750" data-aos-delay="450">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x servico"></i>
                  <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">iplants.com.br</h4>
                <p class="text-muted">Use a nossa plataforma para suas dúvidas</p>
              </div>
            </div>
          </div>
          <!--Titulo principal-->
          <section class="text-center" id="formulario">
            <div class="text-center">
            </div>
            <div class="container-fluid d-flex justify-content-center">
              <div class="col-sm-12 col-md-12 col-lg-8 mt-5 mb-5">
                <form class="row needs-validation" method="POST" action="/enviarContato" novalidate>
                  <div class="col-md-6">
                    <input type="text" class="form-control mb-4 mt-2 form-control-lg border border-1 border-secondary"
                      id="validationCustom01" placeholder="Nome" name="nome" required>
                    <div class="invalid-feedback">
                      Campo inválido!
                    </div>
                    <div class="mb-4">
                      <input type="text" class="form-control form-control-lg border border-1 border-secondary"
                        id="validationCustom02" placeholder="Usuário" name="usuario" required>
                      <div class="invalid-feedback">
                        Campo inválido!
                      </div>
                    </div>
                    <div class="mb-4">
                      <input type="text" class="form-control form-control-lg border border-1 border-secondary"
                        id="validationCustomUsername" placeholder="Email" aria-describedby="inputGroupPrepend"
                        name="email" required>
                      <div class="invalid-feedback">
                        Please choose a username.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <textarea class="form-control border border-1 border-secondary" name="mensagem"
                        id="exampleFormControlTextarea1" placeholder="Mensagem" rows="8"></textarea>
                      <div class="invalid-feedback">
                        Campo inválido!
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mb-5">
                    <button class="btn btn-success btn-lg px-5" type="submit">Enviar</button>
                  </div>
                </form>
              </div>
            </div>
            <!--fim do conteudo-->
            <!--===== as ondinhas ====-->
            <section id="hero">
              <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28 " preserveAspectRatio="none">
                <defs>
                  <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
                </defs>
                <g class="wave1">
                  <use xlink:href="#wave-path" x="50" y="3" fill="rgba(161,161,161, .4)">
                </g>
                <g class="wave2">
                  <use xlink:href="#wave-path" x="50" y="0" fill="rgba(161,161,161, .5)">
                </g>
                <g class="wave3">
                  <use xlink:href="#wave-path" x="50" y="9" fill="#a1a1a1">
                </g>
              </svg>
            </section>
            <footer class="footer mt-auto text-center p-0 ">
              <div class="container-fluid footer-back p-0">
                <div class="nav-scroller">
                  <nav class="nav nav-underline footer-sub " aria-label="Secondary navigation">
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#mapaSite" href="#">Mapa do Site</a>
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#privacidade" href="#">Termo de
                      Privacidade</a>
                    <a class="nav-link" href="contato">Fale Conosco</a>
                  </nav>
                </div>
                <div>
                  <img src="assets/img/logo-cinza.png" width="190" height="70" alt="">
                </div>
                <p class="mt-3">Redes Sociais</p>
                <div class="text-center mt-1 foter-imagem">
                  <img src="assets/svg/instagram.png" width="30" height="30" alt="Instagram">
                  <img src="assets/svg/youtube.png" width="36" height="36" alt="Youtube">
                  <img src="assets/svg/facebook-square.png" width="30" height="30" alt="Facebook">
                </div>
                <hr>
                <span class="text-dark">iPlant's | Av. Bahia - Instituto Federal - Caraguatatuba - São Paulo</span>
              </div>
            </footer>

        </div>
      </main>
      <script>
        const profilePicPreview = document.getElementById('profile-pic-preview');
        const localStorageKey = 'profilePicUrl';

        const storedImageUrl = localStorage.getItem(localStorageKey);
        if (storedImageUrl) {
          profilePicPreview.src = storedImageUrl;
        }
      </script>
      <script>
        //copiar qr
        function copyToClickBoard() {
          var content = document.getElementById('dado').innerHTML;

          navigator.clipboard.writeText(content)

        }
      </script>

      <!--dependencias do bootstrap-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
      <script src="assets/dist/js/bootstrap.min.js"></script>
      <script src="assets/dist/js/aos.min.js"></script>
      <script src="assets/dist/js/bs-init.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
      <!-- Inicialize os Feather Icons (opcional) -->
      <script>
        feather.replace();
      </script>
      <script src="assets/dist/js/script.js"></script>
      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
          'use strict'

          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.querySelectorAll('.needs-validation')

          // Loop over them and prevent submission
          Array.prototype.slice.call(forms)
            .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }

                form.classList.add('was-validated')
              }, false)
            })
        })()
      </script>
      <script>
        // Nome do usuario
        // seleciona elementos do HTML
        const usernameInput = document.getElementById("username-input");
        const submitButton = document.getElementById("submit-button");
        const usernameDisplay = document.getElementById("username-display");


        // função para atualizar a exibição do nome do usuário
        function updateUsernameDisplay() {
          const username = localStorage.getItem("username");
          if (username) {
            // se o nome do usuário estiver definido na localStorage, atualiza a exibição em todos os documentos HTML
            usernameDisplay.textContent = username;
          }
        }
        updateUsernameDisplay();
        updateBadge();
      </script>
</body>

</html>